.mainCardLesson {
    transition: 0.4s;
}

.lessonCard .mainCardLesson:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #292828;
}


@media (max-width: 1000px){
     .summarizationbtn {
    display: inline-block;
    font-size: 0.87rem;
    line-height: 1.25rem;
    } 

    .summarizationbtn svg{
            width: 0.75rem;
            height: 0.625rem;
            display: none;
    }
}