/* .active{
    background-color: #1d4ed8;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161825;
    position: sticky;
    top: 0;
    z-index: 10000;
}

nav ul li button{
    margin-right: 5px;
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    background-color: #172554;
}

nav .menu{
    display: none ;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

@media (max-width: 480px){
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}

nav ul.open{
    display: flex;
} */

/*---------------------------*/

/* *{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 


.main-nav{
    background: #34495E;
    list-style: none;
    height: 65px;
    width: 100%;
}

#logo{
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    float: left;
    margin-left: -80px;
    margin-top: 9px;
}

.photo-logo{
 
    margin-right: 5px;
    margin-left: 2px;
    margin-top: -10px;
    margin-bottom: 0;
}

.unorderd-list-nav{
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
}

.list-item-nav{
    display: inline-block;
    margin: 0px 5px;
    justify-content: center;
    line-height: 60px;
}

.link-list-item-nav{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.link-list-item-nav.active ,.link-list-item-nav:hover{
    background: #1b9bff;
    transition: .5s;
}

.check-input-nav{
    width: 5%;
    margin-top: 25px;
    float: left;
    margin-right: 0px;
    margin-left: -10px;
    display: none;
}

#checkbtn-nav{
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    line-height: 55px;
    color: white;
    display: none;
}

@media (min-width: 952px) and (max-width: 1024px) {
    #logo{
        font-size: 20px;
        padding-left: 50px;
        margin-left: -34px;
        margin-top: 20px;
        margin-bottom: 1px;
    }

    .link-list-item-nav{
        font-size: 16px;
    }  

        .list-item-nav {
            display: inline-block;
            margin: 0px -1px;
            line-height: 50px;
        }

                .unorderd-list-nav {
                    margin-top: -45px;
                    margin-bottom: 0;
                }
}

@media (max-width: 858px){
    #checkbtn-nav{
        display: inline-block;
    }

    .unorderd-list-nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 68px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 1000;
    }

    .list-item-nav{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .link-list-item-nav{
        font-size: 20px;
        font-weight: bold;
    }

        
        .link-list-item-nav:hover{
            background: none;
            color: #0082e6;
        }

        .check-input-nav:checked~.unorderd-list-nav{
            left: 0 ;
        }
}

@media (min-width: 858.1px) and (max-width: 936px){

    #logo {
            font-size: 18px;
            padding-left: 50px;
            margin-left: -25px;
            margin-top: 20px;
        }

                .photo-logo{
                    height: 40px;
                    width: 50px;
                    margin-left: 1px;
                }

    .link-list-item-nav {
            font-size: 12px;
        }

                .list-item-nav {
                    display: inline-block;
                    margin: 0px 1px;
                }

                .unorderd-list-nav{
                    margin-top: -50px;
                }
}

@media (min-width: 936.1px) and (max-width: 951.9px){
    #logo{
        font-size: 20px;
        margin-left: -90px;
            margin-top: 20px;
    }

    .photo-logo{
        height: 45px;
        width: 55px;
        margin-left: 0.5px;
    }

        .link-list-item-nav {
            font-size: 14px;
        }
                .list-item-nav {
                    display: inline-block;
                    margin: 0px 1.5px;
                    line-height: 50px;
                }

                                .unorderd-list-nav {
                                    margin-top: -50px;
                                    margin-bottom: 0;
                                }
}

@media (min-width: 1024.1px) and (max-width:1087px){
    #logo {
            font-size: 27.5px;
            margin-left: -90px;
            margin-top: 15px;
        }

    .photo-logo {
            height: 50px;
            width: 60px;
            margin-left: 0.5px;
        }

    .link-list-item-nav {
            font-size: 16px;
        }

    .list-item-nav {
            display: inline-block;
            margin: 0px 0.7px;
            line-height: 50px;
        }

    .unorderd-list-nav {
            margin-top: -50px;
            margin-bottom: 0;
        }
}

@media (min-width: 1087.1px) and (max-width: 1156px){
    #logo {
            font-size: 25px;
            margin-left: -90px;
            margin-top: 15px;
        }
    
        .photo-logo {
            height: 50px;
            width: 60px;
            margin-left: 0.5px;
        }
    
        .link-list-item-nav {
            font-size: 18px;
        }
    
        .list-item-nav {
            display: inline-block;
            margin: 0px 1.8px;
            line-height: 59px;
        }
    
        .unorderd-list-nav {
            margin-top: -50px;
            margin-bottom: 0;
        }
}

@media (min-width: 1156.1px) and (max-width: 1224px){
#logo {
        font-size: 25px;
        margin-left: -90px;
        margin-top: 15px;
    }

    .photo-logo {
        height: 50px;
        width: 60px;
        margin-left: 0.5px;
    }

    .link-list-item-nav {
        font-size: 18px;
    }

    .list-item-nav {
        display: inline-block;
        margin: 0px 1.5px;
        line-height: 59px;
    }

    .unorderd-list-nav {
        margin-top: -50px;
        margin-bottom: 0;
    }
}

@media (min-width:1224.1px) and (max-width: 1270px){
    #logo {
            font-size: 30px;
            margin-left: -90px;
            margin-top: 15px;
        }

        .list-item-nav {
            display: inline-block;
            margin: 0px 2px;
            line-height: 59px;
        }

        .unorderd-list-nav{
            margin-top: -55px;
            margin-bottom: 0;
        }
}

@media (min-width: 1270.1px) and (max-width: 1286px){
    .unorderd-list-nav {
            margin-top: -55px;
            margin-bottom: 0;
        }

        .list-item-nav{
            line-height: 58px;
        }
}  */

/*-----Tailwind-----*/

.MainContent{
    justify-content: center;
    text-align: center;
    margin: auto;
}

.StyleCurrent{
    color: rgb(209 213 219);
}

.StyleCurrent:hover{
    background-color: rgb(55 65 81);
    border-radius: 0.5rem;
    color: white;
}

.StyleCurrent:active,
.StyleCurrent:checked{
    color: white;
    background-color: rgb(17 24 39);
}