
.MainContent{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.StyleCurrent{
    color: rgb(209 213 219);
}

.StyleCurrent:hover{
    background-color: rgb(55 65 81);
    border-radius: 0.5rem;
    color: white;
}

.StyleCurrent:active,
.StyleCurrent:checked{
    color: white;
    background-color: rgb(17 24 39);
}

#logoutAdminButton{
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: rgb(185 28 28);
    border: rgb(185 28 28) solid 1px;
    border-radius: 0.25rem;
}

#logoutAdminButton:hover{
    background-color: rgb(239 68 68);
    color: white;
    border-radius: 0.25rem;
}

@media (max-width: 320px){
    #logoutAdminButton{
        padding: 0.25rem 0.5rem ;
        font-size: 0.75rem;
        line-height: 1.3rem;
        font-weight: 300;
    }
}