 /*.lessonTitle{
   
    justify-content: center;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px auto;
    padding: auto;
    font-weight: bold;
    background: #121FCF;
        background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


.summarizeText{
    padding: 14px;
    margin: 3px;
}

#summarizeText{
    border-radius: 15px;
    border: solid white;
    background-color: white;
    color: black;
    font-size: 20px;
    resize: none;
}

.downButton{
    margin-bottom: 15px;
} */


.lessonTitle b {
    text-shadow: 2px 3px 0px #898999;
    line-height: 1.2;
  
}

.summarizeContainer {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8d98e4, #7d96e8, #6a95eb, #5587ed, #3f78ef, #2768ef, #0458ee);
/*     background: linear-gradient(-45deg, #D16BA5 10%, #86A8E7 60%, #0458EE 90%);
  background-size: 400% 400%;
    animation: gradient 15s ease infinite; */

}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */